<!DOCTYPE HTML>
<html>
	<head>
	<title>IamRapid</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="csscart/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="csscart/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="csscart/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="csscart/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="csscart/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="csscart/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="csscart/owl.carousel.min.css">
	<link rel="stylesheet" href="csscart/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="csscart/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="csscart/style.css">
	
	  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
  <header id="header" style = "background-color: black;">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/contact-us">Contact Us</a></li>
          <!--<%console.log("from EJS");%>-->
<%console.log(user)%>
<%if (user == false){%>
          <li><a href="/register">Login or Signup</a></li>
<% }else{ %>
<li><a href="/">Hi <%=user%></a></li>
<li><a href="/uploadfile">My uploads</a></li>
<li><a href="/mycart">Cart</a></li>
<% } %>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


		<div class="colorlib-product">
			<div class="container">
			    		<div class="row row-pb-lg">
					<div class="col-md-10 offset-md-1">
						<div class="process-wrap">
							<div class="process text-center active">
								<p><span>01</span></p>
								<h3>Shopping Cart</h3>
							</div>
							<div class="process text-center">
								<p><span>02</span></p>
								<h3>Provide Address</h3>
							</div>
							<div class="process text-center">
								<p><span>03</span></p>
								<h3>Complete Payment</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-pb-lg">
					
					<div class="col-md-12">
					    			<div class="product-name d-flex">
							<div class="one-forth text-left px-4">
								<span>Your Address for Delivery</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-pb-lg">
					<div class="col-md-12">
						<div class="total-wrap">
							<div class="row">
								<div class="col-sm-8">
									<form action = "/fill-address" method = "POST">
										<div class="row form-group">
											<div class="col-sm-9">
												<input id = "address" type="text" name="address" class="form-control input-number" placeholder="Address Line 1">
												<input id = "address2" type="text" name="address2" class="form-control input-number" placeholder="Address Line 2">
												<input id = "city" type="text" name="city" class="form-control input-number" placeholder="City">
												<input id = "state" type="text" name="state" class="form-control input-number" placeholder="State">
												<input id = "country" type="text" name="country" class="form-control input-number" placeholder="Country">
												<input id = "pincode" type="text" name="pincode" class="form-control input-number" placeholder="Pin Code">
												<button id = "submit" type= "submit" value= "Submit" class= "btn btn-primary btn-block">Proceed</button>
											</div>
											<div class="col-sm-3">
											</div>
										</div>
									</form>
								</div>
						</div>
					</div>
			<div style = "margin-left: 850px; margin-top: 20px;" >

            </div>
				</div>
			</div>
		</div>



	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
	
	
	
	 <script>
	// 	$('#submit').on('click', function(){
	// 		var address = $('#address').val();
	// 		var city = $('#city').val();
	// 		var pincode = $('#pincode').val();
	// 		var url = "/upload-user-address/" + address + "/" + city + "/" + pincode;
 //          fetch(url)
 //   	   .then(function(res){
 //              console.log(res);
 //              return res.json()
 //           })
 //           .then(function (data){
            	
 //           })
	// 	})
	</script>
	
	
	
	
	<!-- jQuery -->
	<script src="jscart/jquery.min.js"></script>
   <!-- popper -->
   <script src="jscart/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="jscart/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="jscart/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="jscart/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="jscart/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="jscart/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="jscart/jquery.magnific-popup.min.js"></script>
	<script src="jscart/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="jscart/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="jscart/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="jscart/main.js"></script>

	</body>
</html>

