<% include partials/header %>

   
 <!--==========================
    Hero Section
  ============================-->
  <section id="heroagain" class="wow fadeIn text-center">
    
	<div class="container">
      <h1>3D DESIGNING & SCANNING</h1>
	<div class="row">
      	<div class="col-lg-12 text-center">
      		<a href="#contact" class="btn-get-started scrollto">Contact us now</a>
      	</div>
		<!--<div class="col-lg-6 text-center"></div>-->
	</div>
    </div>
  </section><!-- #hero -->


  
  <!--==========================
    Requirement Anlysis Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
  
    <div class="container">
      <div class="row justify-content-center">
            <h2>DESIGNING PROCESS STARTS</h2>
          </div>
    </div>
		<br>
	<div class="container">
      <div class="row justify-content-center">
		<img src="/img/download.png" alt="About">
      </div>
    </div>
	
    <div class="container">
      <div class="row justify-content-center">
		
        <div class="col-md-5 col-lg-3">
	  <div class="about-content">
          	<img src="/img/svg/list.svg" alt="About">
          </div>
	</div>


        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2>Step 1: <span> Requirement Analysis</span></h2>
            <p> Explore Product Idea, Materials and Manufacturing Processes involved for optimum Cost Material Use and Define Development timeline.
            </p>

          </div>
        </div>

      </div>
    </div>
	
	<br>
	<div class="container">
      <div class="row justify-content-center">
		<img src="/img/download.png" alt="About">
      </div>
    </div>
	
	<div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
	  <div class="about-content">
          	<img src="/img/svg/thinking.svg" alt="About">
          </div>
	</div>


        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2>Step 2: <span>Coceptualization</span></h2>
            <p> The DFA objective of reducing the number of parts may lead to highly integrated, complicated, multi-functional parts.
				DFM aims to keep individual parts simple, because overly complicated parts can have hidden costs that are not initially apparent. 
				DFA and DFM are best carried out at the conceptual design stage, before major decisions about product and process characteristics 
				have been finalized
 
            </p>

          </div>
        </div>

      </div>
    </div>
	
	<br>
	<div class="container">
      <div class="row justify-content-center">
		<img src="/img/download.png" alt="About">
      </div>
    </div>
	
	<div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
	  <div class="about-content">
          	<img src="/img/svg/ux.svg" alt="About">
          </div>
	</div>


        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2>Step 3: <span>Cad Design </span></h2>
            <p> We manufacture high-quality, affordable products in 20 of the best materials and finishes, 
		from plastics to carbon fibre and nylon. Upload for an instant quote or contact us to co-develop a solution for unique products. 
            </p>

          </div>
        </div>

      </div>
    </div>
	
	<br>
	<div class="container">
      <div class="row justify-content-center">
		<img src="/img/download.png" alt="About">
      </div>
    </div>
	
	<div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
	  <div class="about-content">
          	<img src="/img/svg/equalizer.svg" alt="About">
          </div>
	</div>


        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2>Step 4: <span>Minor Tweaks and Adjusments</span></h2>
            <p> We manufacture high-quality, affordable products in 20 of the best materials and finishes, 
		from plastics to carbon fibre and nylon. Upload for an instant quote or contact us to co-develop a solution for unique products. 
            </p>

          </div>
        </div>

      </div>
    </div>
	
	<br>
	<div class="container">
      <div class="row justify-content-center">
		<img src="/img/download.png" alt="About">
      </div>
    </div>
	<br>
	
	<div class="container">
      <div class="row justify-content-center">
            <h2>Final Product</h2>
          </div>
    </div>
	
  </section>
  
  
    <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Contact Us</h2>
        <p class="separator">We love to meet new people!!</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>2A-602, Soul Space Arista<br>Mahadevpura, Banglore.<br>Karnataka. 560048</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <p>shashwat@iamrapid.com<br>sushant@iamrapid.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+91-8318912132<br>+91-8629044664</p>
            </div>
          </div>

          <div class="social-links">
            <a href="https://twitter.com/iamrapid1" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/iamrapid/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/i_am_rapid/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://in.linkedin.com/company/dexterous-manufacturing-labs-pvt-ltd" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
          </div>
      </div>
    </div>
  </section><!-- #contact -->
  
  <!--==========================
   Content Section
============================-->
 <!-- <section id="" class="">
    
	<div class="container">
      <p>
		3d modeling is the process of developing a mathematical representation of an object surface in three dimensions through specialised software.
		These 3D models helps us to build realistic computer models of parts and assemblies which can then be used for running advanced simulations and manufacturing
		There are 3 Kinds of modelling techniques:
		Solid Modeling,
		Surface Modeling,
		Sculpting.
		
		Solid Modeling
		
		Solid modeling creates solid 3d models as if they're actual components, 
		with logical steps that are comparable to the processes will be used to manufacture the components.
		the advantage modelling technique is that it is parametric, which means that changes, or parameters are saved at each stage of the modeling processes and may be altered at any time throughout design cycle
		
		Assembly modeling is also a vital stage in solid modeling, permitting individual components to be assembled together, forming complicated models. 
		Assemblies are often used to insert normal elements like fasteners or bearings.
		
		Surface Modeling
		
		Sculpting
		
		Surface modeling is typically used to get the look and feel of a product. 
		it's a lot easier to form organic and free-form geometry using this sort of CAD software. 
		several of the constraints found in solid modeling don't seem to be a problem with surface modeling,
		however, this comes at a price of typically being less accurate.
		This technique is non-parametric.  i.e it can be hard to go back and make changes.
		
		Sculpting
		
		Sculpting or organic modeling, is mainly used for creating freeform surfaces with minute details such as 
		characters, jewelry or organic shapes found in nature such as trees or rock formations.

		Using these tools, artists create sculptures that consist out of tens of millions of polygons 
		that capture all the intricate details of a character’s face in order for these to come alive 
		in a 3D Print.
		
		3D Scanning
		
		3D scanning is the process of analyzing a real-world object to collect data of its shape appearance.
		The collected data can then be used to construct digital 3D models.
		A 3D scanner can be based on many different technologies, each with its own limitations, advantages and costs. 
		
		The use of 3D scanning for reverse engineering is becoming download popular than ever before,
		due to the precise results achievable and the ease of use.  
		
	  </p>
    </div>
  </section>
  -->
  <!-- #hero -->
  
<% include partials/footer %>
