/**, *:before, *:after {*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*body {*/
/*  font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
/*  background: #ededed;*/
/*}*/
/*#formContainer{*/
/*    padding-top: 200px;*/
/*}*/

/*input, button {*/
/*  border: none;*/
/*  outline: none;*/
/*  background: none;*/
/*  font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
/*}*/

/*.tip {*/
/*  font-size: 20px;*/
/*  margin: 40px auto 50px;*/
/*  text-align: center;*/
/*}*/

/*.cont {*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*  width: 900px;*/
/*  height: 550px;*/
/*  margin: 0 auto 100px;*/
/*  background: #fff;*/
/*}*/

/*.form {*/
/*  position: relative;*/
/*  width: 640px;*/
/*  height: 100%;*/
/*  transition: -webkit-transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;*/
/*  padding: 50px 30px 0;*/
/*}*/

/*.sub-cont {*/
/*  overflow: hidden;*/
/*  position: absolute;*/
/*  left: 640px;*/
/*  top: 0;*/
/*  width: 900px;*/
/*  height: 100%;*/
/*  padding-left: 260px;*/
/*  background: #fff;*/
/*  transition: -webkit-transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;*/
/*}*/
/*.cont.s--signup .sub-cont {*/
/*  -webkit-transform: translate3d(-640px, 0, 0);*/
/*          transform: translate3d(-640px, 0, 0);*/
/*}*/

/*button {*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*  width: 260px;*/
/*  height: 36px;*/
/*  border-radius: 30px;*/
/*  color: #fff;*/
/*  font-size: 15px;*/
/*  cursor: pointer;*/
/*}*/

/*.img {*/
/*  overflow: hidden;*/
/*  z-index: 2;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 260px;*/
/*  height: 100%;*/
/*  padding-top: 360px;*/
/*}*/
/*.img:before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
/*  width: 900px;*/
/*  height: 100%;*/
/*  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");*/
/*  background-size: cover;*/
/*  transition: -webkit-transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;*/
/*}*/
/*.img:after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(0, 0, 0, 0.6);*/
/*}*/
/*.cont.s--signup .img:before {*/
/*  -webkit-transform: translate3d(640px, 0, 0);*/
/*          transform: translate3d(640px, 0, 0);*/
/*}*/
/*.img__text {*/
/*  z-index: 2;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 50px;*/
/*  width: 100%;*/
/*  padding: 0 20px;*/
/*  text-align: center;*/
/*  color: #fff;*/
/*  transition: -webkit-transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out;*/
/*  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;*/
/*}*/
/*.img__text h2 {*/
/*  margin-bottom: 10px;*/
/*  font-weight: normal;*/
/*}*/
/*.img__text p {*/
/*  font-size: 14px;*/
/*  line-height: 1.5;*/
/*}*/
/*.cont.s--signup .img__text.m--up {*/
/*  -webkit-transform: translateX(520px);*/
/*          transform: translateX(520px);*/
/*}*/
/*.img__text.m--in {*/
/*  -webkit-transform: translateX(-520px);*/
/*          transform: translateX(-520px);*/
/*}*/
/*.cont.s--signup .img__text.m--in {*/
/*  -webkit-transform: translateX(0);*/
/*          transform: translateX(0);*/
/*}*/
/*.img__btn {*/
/*  overflow: hidden;*/
/*  z-index: 2;*/
/*  position: relative;*/
/*  width: 100px;*/
/*  height: 36px;*/
/*  margin: 0 auto;*/
/*  background: transparent;*/
/*  color: #fff;*/
/*  text-transform: uppercase;*/
/*  font-size: 15px;*/
/*  cursor: pointer;*/
/*}*/
/*.img__btn:after {*/
/*  content: '';*/
/*  z-index: 2;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border: 2px solid #fff;*/
/*  border-radius: 30px;*/
/*}*/
/*.img__btn span {*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  transition: -webkit-transform 1.2s;*/
/*  transition: transform 1.2s;*/
/*  transition: transform 1.2s, -webkit-transform 1.2s;*/
/*}*/
/*.img__btn span.m--in {*/
/*  -webkit-transform: translateY(-72px);*/
/*          transform: translateY(-72px);*/
/*}*/
/*.cont.s--signup .img__btn span.m--in {*/
/*  -webkit-transform: translateY(0);*/
/*          transform: translateY(0);*/
/*}*/
/*.cont.s--signup .img__btn span.m--up {*/
/*  -webkit-transform: translateY(72px);*/
/*          transform: translateY(72px);*/
/*}*/

/*h2 {*/
/*  width: 100%;*/
/*  font-size: 26px;*/
/*  text-align: center;*/
/*}*/

/*label {*/
/*  display: block;*/
/*  width: 260px;*/
/*  margin: 15px auto 0;*/
/*  text-align: center;*/
/*}*/
/*label span {*/
/*  font-size: 12px;*/
/*  color: #cfcfcf;*/
/*  text-transform: uppercase;*/
/*}*/

/*input {*/
/*  display: block;*/
/*  width: 100%;*/
/*  margin-top: 5px;*/
/*  padding-bottom: 5px;*/
/*  font-size: 16px;*/
/*  border-bottom: 1px solid rgba(0, 0, 0, 0.4);*/
/*  text-align: center;*/
/*}*/

/*.forgot-pass {*/
/*  margin-top: 15px;*/
/*  text-align: center;*/
/*  font-size: 12px;*/
/*  color: #cfcfcf;*/
/*}*/

/*.submit {*/
/*  margin-top: 40px;*/
/*  margin-bottom: 20px;*/
/*  background: #d4af7a;*/
/*  text-transform: uppercase;*/
/*}*/

/*.fb-btn {*/
/*  border: 2px solid #d3dae9;*/
/*  color: #8fa1c7;*/
/*}*/
/*.fb-btn span {*/
/*  font-weight: bold;*/
/*  color: #455a81;*/
/*}*/

/*.sign-in {*/
/*  transition-timing-function: ease-out;*/
/*}*/
/*.cont.s--signup .sign-in {*/
/*  transition-timing-function: ease-in-out;*/
/*  transition-duration: 1.2s;*/
/*  -webkit-transform: translate3d(640px, 0, 0);*/
/*          transform: translate3d(640px, 0, 0);*/
/*}*/

/*.sign-up {*/
/*  -webkit-transform: translate3d(-900px, 0, 0);*/
/*          transform: translate3d(-900px, 0, 0);*/
/*}*/
/*.cont.s--signup .sign-up {*/
/*  -webkit-transform: translate3d(0, 0, 0);*/
/*          transform: translate3d(0, 0, 0);*/
/*}*/

/*.icon-link {*/
/*  position: absolute;*/
/*  left: 5px;*/
/*  bottom: 5px;*/
/*  width: 32px;*/
/*}*/
/*.icon-link img {*/
/*  width: 100%;*/
/*  vertical-align: top;*/
/*}*/
/*.icon-link--twitter {*/
/*  left: auto;*/
/*  right: 5px;*/
/*}*/

/* Nav Menu Essentials */
/*.nav-menu, .nav-menu * {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  list-style: none;*/
/*}*/

/*.nav-menu ul {*/
/*  position: absolute;*/
/*  display: none;*/
/*  top: 100%;*/
/*  left: 0;*/
/*  z-index: 99;*/
/*}*/

/*.nav-menu li {*/
/*  position: relative;*/
/*  white-space: nowrap;*/
/*}*/

/*.nav-menu > li {*/
/*  float: left;*/
/*}*/

/*.nav-menu li:hover > ul,*/
/*.nav-menu li.sfHover > ul {*/
/*  display: block;*/
/*}*/

/*.nav-menu ul ul {*/
/*  top: 0;*/
/*  left: 100%;*/
/*}*/

/*.nav-menu ul li {*/
/*  min-width: 180px;*/
/*}*/

/* Nav Menu Arrows */
/*.sf-arrows .sf-with-ul {*/
/*  padding-right: 30px;*/
/*}*/

/*.sf-arrows .sf-with-ul:after {*/
/*  content: "\f107";*/
/*  position: absolute;*/
/*  right: 15px;*/
/*  font-family: FontAwesome;*/
/*  font-style: normal;*/
/*  font-weight: normal;*/
/*}*/

/*.sf-arrows ul .sf-with-ul:after {*/
/*  content: "\f105";*/
/*}*/

/* Nav Meu Container */
/*#nav-menu-container {*/
/*  float: right;*/
/*  margin: 0;*/
/*}*/

/*@media (max-width: 768px) {*/
/*  #nav-menu-container {*/
/*    display: none;*/
/*  }*/
/*}*/

/* Nav Meu Styling */
/*.nav-menu a {*/
/*  padding: 0 8px 10px 8px;*/
/*  text-decoration: none;*/
/*  display: inline-block;*/
/*  color: #fff;*/
/*  font-family: "Poppins", sans-serif;*/
/*  font-weight: 400;*/
/*  text-transform: uppercase;*/
/*  font-size: 13px;*/
/*  outline: none;*/
/*}*/

/*.nav-menu > li {*/
/*  margin-left: 10px;*/
/*}*/

/*.nav-menu > li > a:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 2px;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  background-color: #2dc997;*/
/*  visibility: hidden;*/
/*  -webkit-transform: scaleX(0);*/
/*  transform: scaleX(0);*/
/*  -webkit-transition: all 0.3s ease-in-out 0s;*/
/*  transition: all 0.3s ease-in-out 0s;*/
/*}*/

/*.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {*/
/*  visibility: visible;*/
/*  -webkit-transform: scaleX(1);*/
/*  transform: scaleX(1);*/
/*}*/

/*.nav-menu ul {*/
/*  margin: 4px 0 0 0;*/
/*  border: 1px solid #e7e7e7;*/
/*}*/

/*.nav-menu ul li {*/
/*  background: #fff;*/
/*}*/

/*.nav-menu ul li:first-child {*/
/*  border-top: 0;*/
/*}*/

/*.nav-menu ul li a {*/
/*  padding: 10px;*/
/*  color: #333;*/
/*  transition: 0.3s;*/
/*  display: block;*/
/*  font-size: 13px;*/
/*  text-transform: none;*/
/*}*/

/*.nav-menu ul li a:hover {*/
/*  background: #2dc997;*/
/*  color: #fff;*/
/*}*/

/*.nav-menu ul ul {*/
/*  margin: 0;*/
/*}*/

/* Mobile Nav Toggle */
/*#mobile-nav-toggle {*/
/*  position: fixed;*/
/*  right: 0;*/
/*  top: 0;*/
/*  z-index: 999;*/
/*  margin: 20px 20px 0 0;*/
/*  border: 0;*/
/*  background: none;*/
/*  font-size: 24px;*/
/*  display: none;*/
/*  transition: all 0.4s;*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*}*/

/*#mobile-nav-toggle i {*/
/*  color: #fff;*/
/*}*/

/*@media (max-width: 768px) {*/
/*  #mobile-nav-toggle {*/
/*    display: inline;*/
/*  }*/
/*}*/

/*---------------------------------------------------------------------------------------------------
experiment
-----------------------------------------------------------------------------------------------------*/
/* DivTable.com */
/*.divTable{*/
/*	display: table;*/
/*	width: 100%;*/
/*}*/
/*.divTableRow {*/
/*	display: table-row;*/
/*}*/
/*.divTableHeading {*/
/*	background-color: #EEE;*/
/*	display: table-header-group;*/
/*}*/
/*.divTableCell, .divTableHead {*/
/*	border: 1px solid #999999;*/
/*	display: table-cell;*/
/*	padding: 3px 10px;*/
/*}*/
/*.divTableHeading {*/
/*	background-color: #EEE;*/
/*	display: table-header-group;*/
/*	font-weight: bold;*/
/*}*/
/*.divTableFoot {*/
/*	background-color: #EEE;*/
/*	display: table-footer-group;*/
/*	font-weight: bold;*/
/*}*/
/*.divTableBody {*/
/*	display: table-row-group;*/
/*}*/



/*change------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html, body {
  position: relative;
  min-height: 100vh;
  background-color: #4d5768;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-structor {
  background-color: #222;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  width: 350px;
  position: relative;
  overflow: hidden;
  margin-top: 200px;
  margin-bottom: 200px;
}
.form-structor::after {
  content: '';
  opacity: .8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 500px;
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100");
}
.form-structor .signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all .3s ease;
}
.form-structor .signup.slide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all .3s ease;
}
.form-structor .signup.slide-up .form-holder, .form-structor .signup.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}
.form-structor .signup.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}
.form-structor .signup.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.form-structor .signup .form-title {
  color: #fff;
  font-size: 1.7em;
  text-align: center;
}
.form-structor .signup .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}
.form-structor .signup .form-holder {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.form-structor .signup .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.form-structor .signup .form-holder .input:last-child {
  border-bottom: 0;
}
.form-structor .signup .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-structor .signup .submit-btn {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.form-structor .signup .submit-btn:hover {
  transition: all .3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.form-structor .login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all .3s ease;
}
.form-structor .login::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all .3s ease;
}
.form-structor .login .center {
  position: absolute;
  top: calc(50% - 10%);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all .3s ease;
}
.form-structor .login .center .form-title {
  color: #000;
  font-size: 1.7em;
  text-align: center;
}
.form-structor .login .center .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}
.form-structor .login .center .form-holder {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.form-structor .login .center .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.form-structor .login .center .form-holder .input:last-child {
  border-bottom: 0;
}
.form-structor .login .center .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-structor .login .center .submit-btn {
  background-color: #6B92A4;
  color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.form-structor .login .center .submit-btn:hover {
  transition: all .3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.form-structor .login.slide-up {
  top: 90%;
  -webkit-transition: all .3s ease;
}
.form-structor .login.slide-up .center {
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all .3s ease;
}
.form-structor .login.slide-up .form-holder, .form-structor .login.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}
.form-structor .login.slide-up .form-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
}
.form-structor .login.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
